:root {
    --primary-color: #5b7594;
    --secondary-color: #404040;
    --background-color: #c2c3c3;
    --color-green: #37ff00;
    --color-red: #ff0000;
    --color-button: #fdffff;
    --color-black: #000;
    --button-bg: var(--primary-color);
    --button-hover-bg: var(--secondary-color);
    --dropdown-bg: var(--primary-color);
    --dropdown-link-color: #000;
    --dropdown-link-hover-color: #fff;
}

.container {
    display: block;
    background-color: rgba(255, 255, 255, 0.366);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    opacity: 0.8;
    /* 0 = completamente transparente, 1 = completamente opaco */
}

.container p {
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.registro-input,
.registro-button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background: none;
    color: var(--color-black);
}

.registro-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

.registro-button:hover {
    background-color: var(--secondary-color);
}

#logo {
    display: block;
    top: 20px;
    margin: 0 auto;
    max-width: 150px;
    width: 100%;

}

.tacuara {
    align-items: center;

}

.image-tacuara {
    max-width: 30%;
    height: auto;

}

.rol-data-hidden {
    display: none;
}

.rol-data-visible {
    display: block;
    /* O el valor que necesites, como 'flex' o 'grid' */
}

.modal-registro {
    position: fixed;
    top: 250px;
    left: 27%;
    width: 650px;
    height: 300px;
    background-color: rgb(255 255 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 9986;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid black;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close {
    position: absolute;
    background: none;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.modal-body {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.modal-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

.modal-button:hover {
    background-color: var(--secondary-color);
}